<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>cat_walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_cat.png</string>
            <key>size</key>
            <string>{1538,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1fcd375a4fe64a4b1302acba1668262:e3dff03c7b7652c47b1af5a390251843:4b5f136000eb99273a65c0c166ce87be$</string>
            <key>textureFileName</key>
            <string>sprite_cat.png</string>
        </dict>
    </dict>
</plist>
