<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghost1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>ghost1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_enemy.png</string>
            <key>size</key>
            <string>{162,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed4931694999305bd8b56899c5375d80:2f034dcfcedab6d5b9d1ebaa8ad68a00:1ff67a7fa1cc2ca420a42ce9a0ed6917$</string>
            <key>textureFileName</key>
            <string>sprite_enemy.png</string>
        </dict>
    </dict>
</plist>
